.funding {
    position: relative;
    background: #f9fbff;
    padding: 30px 0 40px;
}
.fundings-logos .logo {
    margin-bottom: 30px;
}
.fundings-logos .logo .content{
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(91, 136, 233, 0.1);
    padding: 50px 0 20px;
    min-height: 250px;
}

.fundings-logos .logo .content img{
    margin-bottom: 20px;
}

.fundings-logos .logo .content p{
    color: #5b89e9;
}

@media (max-width:800px){
    .fundings-logos .logo {
        margin-bottom: 25px;
    }
    .fundings-logos .logo .content h3 {
        font-size: 1rem;
    }
    .fundings-logos .logo .content p {
        font-size: 14px;
    }
    .fundings-logos .logo .content{
        padding: 30px 0 20px;
        min-height: 208px;
    }
}

@media (max-width:600px){
    .fundings-logos .logo {
        width: 50%;
        margin-bottom: 10px;
    }
    .fundings-logos .logo:nth-child(2n+1) {
        padding-right: 5px; 
    }
    .fundings-logos .logo:nth-child(2n+2) {
       padding-left: 5px;
    }
    .fundings-logos .logo .content{
        padding: 30px 0 20px;
        min-height: 200px;
    }
}