.cost {
    position: relative;
    background: #f9fbff;
    padding: 30px 0 150px;
}
.cost .content .item{
    list-style-type: none;
}
.cost .content .item li::before{
    content: "\2022";
    color: #5b89e9 !important;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -0.8em;
    margin-top: 4px;
    position: absolute;
}
.cost .content .price, .cost .total .price{
    list-style-type: none;
    text-align: right;
}
.cost .content .price h4, .cost .total .price h4{
    color: #5b89e9;
    padding-right: 25px;
}
.cost .content .item h4 {
    margin-left: 10px;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 0.05px;
    margin-bottom: 20px;
}
.cost .content .price h4{
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
}
.cost .total .price h4 {
    font-size: 27px;
    font-weight: 600;
}
.cost .total .item h4{
    padding-left: 25px;
    font-size: 23px;
    font-weight: 600;
}
.cost .table-responsive{
    box-shadow: 0 0 20px 0 rgba(91, 136, 233, 0.1);
    background: white;
    border-radius: 8px;
}
.cost h2.title {
    font-size: 30px;
    font-weight: 600;
}
.cost h3 {
    font-size: 25px;
    font-weight: 600;
}
.other-content .mb-4:not(:first-child) {
    font-weight: 400;
}
/* .cost table.table{
    border-collapse: separate;
    border-spacing: 0;
}
.cost table.table th:first-child{
    border-top-left-radius: 8px;
}
.cost table.table th:last-child{
    border-top-right-radius: 8px;
} */
.cost table.table th{
    border:0;
    vertical-align: middle !important;
}
.cost table thead tr th {
    padding: 20px 40px !important;
}
.cost table thead tr th:last-child {
    text-align: right;
}

@media (max-width:800px){
    .cost{
        padding: 0px 0 20px;
    }
    .cost .table-responsive h3{
        font-size: 18px;
    }
    .cost .table-responsive h4{
        font-size: 0.9rem;
    }
    .cost table thead tr th {
        padding: 20px !important;
    }
    .cost ul.price {
        padding: 0;
    }
    .other-content h3{
        font-size: 1rem;
    }
    .cost .content .item li::before{
        margin-top: -3px;
    }
    .cost .content .item {
        padding-left: 18px;
    }
    .cost .content .price h4, .cost .total .price h4{
        padding-right: 8px;
    }
    .cost .total .item h4{
        padding-left: 8px;
    }
}

@media (max-width:600px){
    .cost .content .item li h4{
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0.03px;
        margin-bottom: 10px;
        margin-left: 15px;
    }
    .cost .content .item h4.txt-blue{
        font-size: 16px;
        letter-spacing: 0.88px;
        font-weight: 600;
        margin-left: 15px;
    }
    .cost .table-responsive h3{
        font-size: 18px;
        text-align: left;
    }
    .cost .content .item li::before{
        font-size: 25px;
        margin-left: -0.4em;
        margin-top: -8px;
    }
    .cost .table .content td{
        padding: 2.5rem 1.5rem 0.1rem !important;
    }
    .cost table thead tr th {
        padding: 25px 33px !important;
    }
    .cost .total h4.item {
        font-size: 16px !important;
        font-weight: 600;
        letter-spacing: 0.03px;
        color: black;
    }
    .cost .total td {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cost .total td {
        display: flex;
        justify-content: space-between;
        padding: 1.4rem 2rem 0;
    }
    .cost .total .price {
        letter-spacing: 0.88px;
        font-size: 16px;
        font-weight: 600;
        color: #5b89e9;
    }
    .cost .other-content.col-md-4 {
        padding: 3rem 1rem 0 !important;
    }
    .other-content.col-md-4 > div {
        display: flex;
        justify-content: space-between;
    }
    .other-content.col-md-4 > div div{
        flex: 1;
    }
}