.contact .form-group {
	position: relative;
	margin-bottom: 20px !important;
}
.contact .form-row{
	position: relative;
}
.contact .form-group input.form-control,.contact .form-group select.form-control{
	height: 50px;
	box-shadow: 0 0 20px 0 rgba(91, 136, 233, 0.1);
	background-color: #ffffff;
	border: 0;
}
.contact .form-group select.form-control option:hover,  .contact .form-group select.form-control option:focus,
.contact .form-group select.form-control option:active{
	background: #5b89e9 !important;
	background-color: #5b89e9 !important;
}
.contact .form-group select.form-control{
	background-image:
		linear-gradient(45deg, transparent 50%, #5b89e9 50%),
		linear-gradient(135deg, #5b89e9 50%, transparent 50%),
		linear-gradient(to right, white, white);
	background-position:
		calc(100% - 20px) calc(1.3em + 2px),
		calc(100% - 15px) calc(1.3em + 2px),
		100% 0;
	background-size:
		5px 5px,
		5px 5px,
		2.5em 3.1em;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.contact .form-group select.form-control:focus{
	background-image:
		linear-gradient(45deg, #5b89e9 50%, transparent 50%),
		linear-gradient(135deg, transparent 50%, #5b89e9 50%),
		linear-gradient(to right, #ffffff, #ffffff);
  	background-position:
		calc(100% - 15px) 1.4em,
		calc(100% - 20px) 1.4em,
		100% 0;
	background-size:
		5px 5px,
		5px 5px,
		2.5em 3.1em;
		background-repeat: no-repeat;
		outline: 0;
  }
.contact .form-group textarea.form-control{
	padding: .6rem .75rem;
	border-radius: 9px;
	box-shadow: 0 0 20px 0 rgba(91, 136, 233, 0.1) !important;
	border: 0;
	box-shadow: none;
}
.contact .form-group > label {
	position: absolute;
	top: 12px;
	bottom: 0;
	left: 20px;
	width: 100%;
	transition: 0.2s;
}
.contact .form-group input:focus + label{
  top: 0;
  font-size: 10px;
}
.contact .form-group textarea:focus + label{
	top: 0;
	font-size: 10px;
  }
.contact .form-group input:not(:focus):valid + .form-label{
	top: 0;
	font-size: 10px;
}
.contact .form-group textarea:not(:focus):valid + .form-label{
	top: 0;
	font-size: 10px;
}
.contact .form-group input:focus,.contact  .form-group .form-control:focus,.contact  .form-group textarea.form-control:focus {
	outline: 0;
	border-bottom: 3px solid #5b89e9;
	box-shadow: none !important;
}

@media (max-width:600px){
	.info.form-row{
		flex-direction: column;
	}
}