.product{
    border-radius: 6px;
    box-shadow: 0 0 20px 0 rgba(64, 55, 144, 0.1);
    border: solid 0.5px #d5d5d5;
    background-color: #ffffff;
    margin-bottom: 50px;
}
.pro-details {
    padding: 30px 50px 0 0;
    display: block;
    width: 100%;
}
.pro-details h2, .pro-details h3{
    font-size: 20px;
}
.pro-details h3{
    margin: 0;
}
.features-list {
    display: grid;
    grid-template-columns: 20% 22% auto;
}
.features-list span .title {
    font-size: 14px;
    color: #2b2b2b;
    margin-right: 10px;
}
.features-list span.icon {
    margin-right: 10px;
}
.pro-price .flex-1 {
    flex: 1;
}
.pro-price .flex-2 {
    flex: 2;
}
.pro-price div > span {
    font-size: 12px;
}
.slick-slide img {
    display: block;
    width: 100%;
}
.slick-next {
    right: 20px;
}
.slick-prev {
    left: 20px;
    z-index: 1;
}
.slick-prev::before {
    content: url("data:image/svg+xml;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjCgEQBQtYizL1AAAAbElEQVRIx2NgIAH8D/v/9L8jKTpQtYf///3/2389crWH/v/9/9t/l6Gr/cd/7wHSHjKqfURqt/z/+/+3/67E62DCEGEk0264GyhLusPLCMqic9SI4WwE+ZULAwPFlSsDAwPD/7D/L//bo4oBANWoxpgvQZ/VAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTEwLTAxVDE2OjA1OjExKzAwOjAwrgNJHQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0xMC0wMVQxNjowNToxMSswMDowMN9e8aEAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC");
}
.slick-next::before, [dir="rtl"] .slick-prev::before {
    content: url("data:image/svg+xml;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjCgEQBSIaOaqZAAAAWklEQVRIx+3VMQqAMAxG4eCBdHaRLh5BBfH6Du6SJYXn3M1a3P6MgfdljFkxJE5W+z70OMHWQkzcZA4RIkT8R8w4wVhuu3qn5X5mV65c+bt8wImG/0ziYqkpHmZ9xztvr/V/AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTEwLTAxVDE2OjA1OjM0KzAwOjAwvh5hxwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0xMC0wMVQxNjowNTozNCswMDowMM9D2XsAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC");
}
.pro-image-container{
    margin-bottom: -7px;
}
.layout.grid .product-container .container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.layout.grid .product {
    display: block;
    width: 31%;
    margin-right: 15px;
}

.layout.grid .product .pro-details {
    padding: 15px;
}
.layout.grid .product .features-list {
    display: grid;
    grid-template-columns: auto auto;
}
.layout.grid .product .pro-price {
    flex-direction: column;
    padding: 20px 0 0 0;
}
.layout.grid .product .features-list {
    margin-bottom: 0px !important;
}
.layout.grid .product .pro-price .flex-1 {
    margin-bottom: 15px;
}
.product-page .pro-details{
    padding: 25px 50px 0 0;
}
.product-page .pro-details h2 {
    font-size: 25px;
    line-height: 28px;
}
.product-page .pro-details .pro-price-top > span {
    font-size: 14px;
    position: relative;
    top: -5px;
}
.product-page .pro-details h3 {
    margin-bottom: 15px;
}
.product-page  .car-info {
    margin-bottom: 15px;
}
.product-page .car-info > span {
    display: inline-flex;
    align-items: center;
}
.product-page .pro-price {
    display: none !important;
}
.product-page .features-list {
    grid-template-columns: auto auto;
    margin-bottom: 20px !important;
}
.product-page .features-list > span {
    display: grid;
    grid-template-columns: 40% auto;
}
.product-page .pro-content a {
    font-size: 12px;
    padding: 10px 25px;
    margin-right: 15px;
}
.product-page .enquiry-with{
    margin-right: 15px;
}
.product-page .enquiry-with .line {
    width: 35px;
    height: 2px;
    background: #e3e3e5;
    display: block;
}
.product-page .enquiry-with .or {
    color: #cacaca;
    font-size: 10px;
    font-weight: 600;
    margin: 15px;
}
.product-page .calculate{
    display: inline-block;
}
.product-page  .calculate span {
    font-size: 12px;
    color: #5d5d5d;
}
.enquiry-container {
    display: flex;
    justify-content: start;
    align-items: center;
}


@media (max-width: 800px){
    .pro-price .flex-1 {
        flex: 2;
    }
    .product-page .features-list span.icon > span {
        display: none;
    }
    .product-page .features-list > span{
        grid-template-columns: 15% auto;
    }
    .product-page .pro-details h3 {
        margin-bottom: 5px;
    }
    .product-page .car-info {
        font-size: 12px;
    }
    .product-page .enquiry-with .line {
        width: 10px;
    }
    .product-page .pro-content a {
        font-size: 11px;
        padding: 5px 7px;
        margin-right: 10px;
    }
    .product-page .car-info {
        margin-bottom: 5px;
    }
    .pro-image-container a > div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .product-page .features-list{
        margin-bottom: 0;
    }
}
@media (min-width: 601px) and (max-width: 799px){
    .pro-details {
        padding: 7px 0 5px 0;
    }
    .features-list {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .product-page .features-list{
        grid-template-columns: 30% auto auto;
    }
    .product-page .pro-details{
        padding: 15px 15px 0 0;
    }
}
@media (max-width: 600px){
    .pro-details {
        padding: 15px;
    }
    .features-list {
        display: grid;
        grid-template-columns: auto auto;
    }
    .pro-price {
        flex-direction: column;
        padding: 20px 0 0 0;
    }
    .pro-price .flex-1 {
        margin-bottom: 15px;
    }
    .product-page .pro-details {
        padding: 15px;
    }
    .enquiry-container{
        flex-direction: column;
    } 
}