html, body{
  overflow-x: hidden;
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 200;
  src:
    local('Gilroy Light'),
    local('Gilroy-Light'),
    url(/assets/fonts/Gilroy-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src:
    local('Gilroy'),
    local('Gilroy-Regular'),
    url(/assets/fonts/Gilroy-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src:
    local('Gilroy Medium'),
    local('Roboto-Medium'),
    url(/assets/fonts/Gilroy-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src:
    local('Gilroy Bold'),
    local('Roboto-Bold'),
    url(/assets/fonts/Gilroy-Bold.otf) format('opentype');
}

body {
  margin: 0;
  font-family: Gilroy !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, span{
  font-family: 'Gilroy';
  font-weight: 400;
}

.bg-blue{
  background: #5b89e9 !important;
  box-shadow: 0 0 20px 0 rgba(91, 136, 233, 0.1);
}

.txt-blue{
  color: #5b89e9 !important;
}

.txt-white{
  color: white !important;
}
.App {
  background: 
  #f9fbff;
}
