.findcar{
    padding: 100px 0;
    background: #f9fbff;
}

.findcar .form-group {
	position: relative;
	margin-bottom: 20px !important;
}
.findcar .form-row{
	position: relative;
}
.findcar .info.label .form-group > label {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}
.findcar .form-group input.form-control,.findcar .form-group select.form-control{
	height: 50px;
	box-shadow: 0 0 20px 0 rgba(91, 136, 233, 0.1);
	background-color: #ffffff;
	border: 0;
}
.findcar .form-group select.form-control option:hover,  .findcar .form-group select.form-control option:focus,
.findcar .form-group select.form-control option:active{
	background: #5b89e9 !important;
	background-color: #5b89e9 !important;
}
.findcar .form-group select.form-control{
	background-image:
		linear-gradient(45deg, transparent 50%, #5b89e9 50%),
		linear-gradient(135deg, #5b89e9 50%, transparent 50%),
		linear-gradient(to right, white, white);
	background-position:
		calc(100% - 20px) calc(1.3em + 2px),
		calc(100% - 15px) calc(1.3em + 2px),
		100% 0;
	background-size:
		5px 5px,
		5px 5px,
		2.5em 3.1em;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.findcar .form-group select.form-control:focus{
	background-image:
		linear-gradient(45deg, #5b89e9 50%, transparent 50%),
		linear-gradient(135deg, transparent 50%, #5b89e9 50%),
		linear-gradient(to right, #ffffff, #ffffff);
  	background-position:
		calc(100% - 15px) 1.4em,
		calc(100% - 20px) 1.4em,
		100% 0;
	background-size:
		5px 5px,
		5px 5px,
		2.5em 3.1em;
		background-repeat: no-repeat;
		outline: 0;
}
.findcar .form-group textarea.form-control{
	padding: .6rem .75rem;
	border-radius: 9px;
	box-shadow: 0 0 20px 0 rgba(91, 136, 233, 0.1) !important;
	border: 0;
	box-shadow: none;
}
.findcar .form-group > label {
	position: absolute;
	top: 12px;
	bottom: 0;
	left: 20px;
	width: 100%;
	transition: 0.2s;
}
.findcar .form-group input.form-control:focus + label{
  top: 0;
  font-size: 10px;
}
.findcar .form-group textarea:focus + label{
	top: 0;
	font-size: 10px;
  }
.findcar .form-group input:not(:focus):valid + .form-label{
	top: 0;
	font-size: 10px;
}
.findcar .form-group textarea:not(:focus):valid + .form-label{
	top: 0;
	font-size: 10px;
}
.findcar .form-group input:focus,.findcar  .form-group .form-control:focus,.findcar  .form-group textarea.form-control:focus {
	outline: 0;
	border-bottom: 3px solid #5b89e9;
	box-shadow: none !important;
}
.findcar .custom-control-label{
	padding: 6px 10px 6px 40px;
	border-radius: 8px;
	border: solid 0.5px #c9c9c9;
	background-color: white;
	font-size: 12px;
	line-height: 24px;
	color: #2b2b2b;
	min-width: 130px;
}
.findcar .custom-control-input:checked + .custom-control-label{
	padding: 6px 10px 6px 40px;
	border-radius: 8px;
	border: solid 0.5px #c9c9c9;
	background-color: #5b89e9;
	color: white;
}
.findcar .custom-control-label::before, .findcar .custom-control-label::after{
	left: 0.9rem;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 2px;
	border: solid 0.5px #c9c9c9;
	background-color: #ffffff;
	color: #2b2b2b;
	box-shadow: none;
}
.findcar .custom-control-input:checked + .custom-control-label::after{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjCRcUJxBAh2d2AAAA4ElEQVQ4y2NgGDTAklOr0oGFBOU6u7X/a68xZmUmTvnnTf9dGBgYtP6oMJGgnIHhL8MWRpKUx11dxkiacgYGRtKU49WATTkeDdiV49SASzkDAxMDgzG/1nRjfhzK//yPRFbOwMBkzP9jJ2PGj726glhNj7+2GtVuph+rGcwZGBiM/22H2ILPdAYGBgZGTSOm3QxCDAwMDAxnmVx5fuByO5Kntc0YdjFA/HCS4QuDM9T0KHTHIIUSki0M+ExHClYULXiUI8UDXAte5ShA20z7nfZvrVCiFEOArrF2MAnKaQQA/oRvfz/2OlQAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTktMDktMjNUMjA6Mzk6MTYrMDA6MDDcRhglAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTA5LTIzVDIwOjM5OjE2KzAwOjAwrRugmQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=") !important;
	background-size: 85% !important;
	background-position: center center !important;
}
.findcar .custom-control {
	padding-left: 0;
	margin-bottom: 1rem;
}
.findcar .radio-options .custom-control-label::after {
	border-radius: 50%;
	background-image:  none;
}
.findcar .radio-options .custom-control-input:checked + .custom-control-label::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwMCIgd2lkdGg9IjEwMCI+DQogIDxjaXJjbGUgY3g9IjUwIiBjeT0iNTAiIHI9IjQwIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjYiIGZpbGw9InRyYW5zcGFyZW50IiAvPg0KPC9zdmc+IA==") !important;
    background-size: 85% !important;
    background-position: center center !important;
    background: radial-gradient(circle, black,white);
    background-image: radial-gradient(circle at center center, black, white);
	box-shadow: 0px 0px 0px 3px inset white;
}
.findcar .range-slider{
	margin-bottom: 84px;
}

@media (max-width:600px){
	.info.form-row{
		flex-direction: column;
	}
}