.findcar{
    padding: 100px 0;
    background: #f9fbff;
}
.findcar .form-group {
	position: relative;
	margin-bottom: 20px !important;
}
.findcar .form-row{
	position: relative;
}
.findcar .info.label .form-group > label {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}
.findcar .form-group input.form-control,.findcar .form-group select.form-control{
	height: 50px;
	box-shadow: 0 0 20px 0 rgba(91, 136, 233, 0.1);
	background-color: #ffffff;
	border: 0;
}
.findcar .form-group select.form-control option:hover,  .findcar .form-group select.form-control option:focus,
.findcar .form-group select.form-control option:active{
	background: #5b89e9 !important;
	background-color: #5b89e9 !important;
}
.findcar .form-group select.form-control{
	background-image:
		linear-gradient(45deg, transparent 50%, #5b89e9 50%),
		linear-gradient(135deg, #5b89e9 50%, transparent 50%),
		linear-gradient(to right, white, white);
	background-position:
		calc(100% - 20px) calc(1.3em + 2px),
		calc(100% - 15px) calc(1.3em + 2px),
		100% 0;
	background-size:
		5px 5px,
		5px 5px,
		2.5em 3.1em;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.findcar .form-group select.form-control:focus{
	background-image:
		linear-gradient(45deg, #5b89e9 50%, transparent 50%),
		linear-gradient(135deg, transparent 50%, #5b89e9 50%),
		linear-gradient(to right, #ffffff, #ffffff);
  	background-position:
		calc(100% - 15px) 1.4em,
		calc(100% - 20px) 1.4em,
		100% 0;
	background-size:
		5px 5px,
		5px 5px,
		2.5em 3.1em;
		background-repeat: no-repeat;
		outline: 0;
}
.findcar .form-group textarea.form-control{
	padding: .6rem .75rem;
	border-radius: 9px;
	box-shadow: 0 0 20px 0 rgba(91, 136, 233, 0.1) !important;
	border: 0;
	box-shadow: none;
}
.findcar .form-group > label {
	position: absolute;
	top: 12px;
	bottom: 0;
	left: 20px;
	width: 100%;
	transition: 0.2s;
}
.findcar .form-group input.form-control:focus + label{
  top: 0;
  font-size: 10px;
}
.findcar .form-group textarea:focus + label{
	top: 0;
	font-size: 10px;
  }
.findcar .form-group input:not(:focus):valid + .form-label{
	top: 0;
	font-size: 10px;
}
.findcar .form-group textarea:not(:focus):valid + .form-label{
	top: 0;
	font-size: 10px;
}
.findcar .form-group input:focus,.findcar  .form-group .form-control:focus,.findcar  .form-group textarea.form-control:focus {
	outline: 0;
	border-bottom: 3px solid #5b89e9;
	box-shadow: none !important;
}
.findcar .custom-control-label{
	padding: 6px 10px 6px 40px;
	border-radius: 8px;
	border: solid 0.5px #c9c9c9;
	background-color: white;
	font-size: 12px;
	line-height: 24px;
	color: #2b2b2b;
	min-width: 130px;
}
.findcar .custom-control-input:checked + .custom-control-label{
	padding: 6px 10px 6px 40px;
	border-radius: 8px;
	border: solid 0.5px #c9c9c9;
	background-color: #5b89e9;
	color: white;
}
.findcar .custom-control-label::before, .findcar .custom-control-label::after{
	left: 0.9rem;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 2px;
	border: solid 0.5px #c9c9c9;
	background-color: #ffffff;
	color: #2b2b2b;
	box-shadow: none;
}
.findcar .custom-control-input:checked + .custom-control-label::after{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjCRcUJxBAh2d2AAAA4ElEQVQ4y2NgGDTAklOr0oGFBOU6u7X/a68xZmUmTvnnTf9dGBgYtP6oMJGgnIHhL8MWRpKUx11dxkiacgYGRtKU49WATTkeDdiV49SASzkDAxMDgzG/1nRjfhzK//yPRFbOwMBkzP9jJ2PGj726glhNj7+2GtVuph+rGcwZGBiM/22H2ILPdAYGBgZGTSOm3QxCDAwMDAxnmVx5fuByO5Kntc0YdjFA/HCS4QuDM9T0KHTHIIUSki0M+ExHClYULXiUI8UDXAte5ShA20z7nfZvrVCiFEOArrF2MAnKaQQA/oRvfz/2OlQAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTktMDktMjNUMjA6Mzk6MTYrMDA6MDDcRhglAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTA5LTIzVDIwOjM5OjE2KzAwOjAwrRugmQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=") !important;
	background-size: 85% !important;
	background-position: center center !important;
}
.findcar .custom-control {
	padding-left: 0;
	margin-bottom: 1rem;
}
.findcar .radio-options .custom-control-label::after {
	border-radius: 50%;
	background-image:  none;
}
.findcar .radio-options .custom-control-input:checked + .custom-control-label::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwMCIgd2lkdGg9IjEwMCI+DQogIDxjaXJjbGUgY3g9IjUwIiBjeT0iNTAiIHI9IjQwIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjYiIGZpbGw9InRyYW5zcGFyZW50IiAvPg0KPC9zdmc+IA==") !important;
    background-size: 85% !important;
    background-position: center center !important;
    background: radial-gradient(circle, black,white);
    background-image: radial-gradient(circle at center center, black, white);
	box-shadow: 0px 0px 0px 3px inset white;
}
.findcar .range-slider{
	margin-bottom: 84px;
}
.range-filter .rc-slider-rail, .range-filter .rc-slider-step{
	height: 8px;
	color: #dcdcdc;
}
.range-filter .rc-slider-handle {
    border: solid 0.6px #c9c9c9;
	background-color: #ffffff;
    width: 22px;
    height: 22px;
    margin-top: -7px;
}
.range-filter .rc-slider-track {
    background-color: #5b89e9;
    height: 8px;
}
.rc-slider-tooltip-inner{
	background: white;
	padding: 14px 14px 28px;
	color: #2b2b2b;
	border-radius: 5px;
	box-shadow: 0 5px 10px 0
rgba(0, 0, 0, 0.04);
}
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
    bottom: 0px;
    left: 50%;
    margin-left: -8px;
    border-width: 8px 8px 0;
    border-top-color: white;
}
.color-picker{
	margin-top: 80px;
}
.color-picker .input-group-text {
    background:white !important;
	border: 0 !important;
	position: relative;
}
.color-picker .input-group-prepend .input-group-text:first-child {
    border-left: 1px solid #f9fbff !important;
}
.color-picker .input-group-prepend .input-group-text:last-child {
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
	color: #5b89e9;
	cursor: pointer;
}
.color-picker .input-group {
    border-radius: 9px;
    box-shadow: 0 0 20px 0 rgba(91, 136, 233, 0.1);
	background-color:#ffffff;
}
.input-group-text > svg {
    display: none;
    position: absolute;
    left: -177%;
}
.input-group-text svg.active {
	display: flex;
}
.findcar .color-picker input.form-control{
	box-shadow: none;
}
.color-more.bg-transparent.btn.btn-primary {
    border-radius: 9px;
    border: solid 1px #979797;
	color:black;
	text-align: left;
	padding-left: 40px;
	position: relative !important;
	height: 50px;
}
.color-more.bg-transparent::before {
    content: url("data:image/svg+xml;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjCRkSFBBQvgnHAAABX0lEQVQ4y43Uy0pbYRQF4C9HMTNJjYVqECxGob6Clo7rJSniMwRKrZcOfIZWfQDT+gTSiZcMOuhTmOAopxzQkWhLO2pB7SCJITlRzxrtf+3L2nuz+VM6MaZo3rinuPBDxYEz9yDni7qPZgyBITM+qftstFd4QWTNQIwfsC6y2E2/d2LiPml5VSud1U9kPISMalslJ3qgelslMtIw96zG3CWlGLeh3FhkvceomzZjXFooF3hj379HG4K/vioGXjtOFA6H5gJ5tcQJp/L9Mn41n4NK+pr2K6Sa9rWyP+BKNpC6cyTBTb8rGT/Bbzt3jltsxcKzLgN104nrvxAGKgqJE4qOAweWpROFpy05Cpz57m2ihBXfnMOoSL7LOWUqxkSetR6Lqo+c9xM1851y1ZhKG5Nq3nWTCyIbPcZP+yDqrN7CiLLQlllZMOylbaHddu9iZ5FTsOB585sJVRw2NtPCfygbTYBCIyEKAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTA5LTI1VDE4OjIwOjE2KzAwOjAwlC5zfQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0wOS0yNVQxODoyMDoxNiswMDowMOVzy8EAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC");
    width: 21px;
    height: 21px;
    display: inline-flex;
    position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 0;
	left: 10px;
}
.findcar .info.label .form-group > label, .custom-checkbox.agree.text-right.form-label  {
    position: relative !important;
    top: 0 !important;
    bottom: 0 !important;
	left: 0 !important;
}

/* .findcar .custom-checkbox {
	display: block;
	position: relative;
	padding-left: 40px;
	margin-bottom: 0px;
	letter-spacing: 0.05px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: black;
} */
.findcar .custom-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.findcar .checkmark {
	position: absolute;
	top: 0;
	right: 264px;
	height: 25px;
	width: 25px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 20px 0 rgba(91, 136, 233, 0.25);
}
.findcar .custom-checkbox:hover input ~ .checkmark {
	background-color: #fdfdfd;
}
.findcar .custom-checkbox input:checked ~ .checkmark {
	background-color: #5b89e9;
}
.findcar .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.findcar .custom-checkbox input:checked ~ .checkmark:after {
	display: block;
}
.findcar .custom-checkbox .checkmark:after {
	left: 8px;
	top: 1px;
	width: 9px;
	height: 17px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.color-selector {
	display: inline-block;
	margin: 0 auto;
	border-radius: 3px;
	position: relative;
	font-family: verdana;
	background: white;
}
.color-selector .circle {
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin-right: 10px;
}
.color-selector .hidden {
	position: absolute;
	left: 0;
	opacity: 0;
}
.color-selector span {
	display: inline-block;
	vertical-align: middle;
}
.color-selector.input-group-text input {
    width: 100%;
	height: 100%;
}
@media (max-width:600px){
	.info.form-row{
		flex-direction: column;
	}
}